@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: 'Poppins', sans-serif;
}

body {
   display: flex;
   align-items: center;
   justify-content: center;
   min-height: 100vh;
   background: #dde5f0;
}

.container {
   max-width: 340px;
   width: 100%;
   background: #47a6f8;
   padding: 0px;
   overflow: hidden;
   border-radius: 40px;
   color: #fff;
}

.head {
   width: 100%;
   height: 50px;
   display: flex;
   border: none;
   padding: 25px;
}

.full-space {
   width: 100%;
}

.info {
   width: 140%;
   height: 420px;
   border: none;
   margin-left: -20%;
   margin-top: 70px;
   justify-content: center;
   border-top-right-radius: 50%;
   border-top-left-radius: 50%;
   background-color: #429bef;
}

.info .icon {
   width: 280px;
   height: 160px;
   margin: auto;
   position: relative;
   top: -40px;
   overflow: hidden;
   border: none;
}

.icon img {
   width: 100%;
   height: 100%;
}

.min-info {
   width: calc(100% - 40%);
   height: 230px;
   border: none;
   margin: auto;
   margin-top: -40px;
   text-align: center;
}

.min-info strong::after {
   content: '*';
   position: absolute;
   top: center;
   left: center;
   border-radius: 50%;
}

.min-info strong {
   font-size: 70px;
}

.min-info span {
   font-size: 23px;
   font-weight: 700;
}
.footer{
   width: calc(100% - 35%);
   height: auto;
   margin: auto;
   margin-top: -50px;
   border: none;
   display: flex;
}
.min{
   width: auto;
   height: 80px;
   border: 0px solid;
   margin: auto;
   text-align: center;
}
.footer strong{
   font-size: 30px;
   font-weight: 600;
}